@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #77502d;
}
.container {
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #77502d;
    box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0,0,0,0.35), inset -5px -5px 15px rgba(255, 255, 255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);
}

.container .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container .form h2{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.container .form .inputBox{
    position: relative;
    width: 300px;
}

.container .form .inputBox input{
    padding: 12px 10px 12px 48px;
    border: none;
    width: 100% ;
    background: #77502d;
    border: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    font-weight: 300;
    border-radius:25px;
    font-size: 1em;
    box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.5s;
    outline:none;
}

.container .form .inputBox span{
    position: absolute;
    left: 0;
    padding: 12px 10px 12px 48px;
    pointer-events:none;
    font-size: 1em;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 0.05em;
    color:rgba(255,255,255,0.5);
}
.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span{
    color: #ded5bb;
    border: 1px solid #ded5bb;
    background: #77502d;
    transform: translateX(25px) translateY(-7px);
    font-size: 0.6em;
    padding: 0 8px;
    border-radius: 10px;
    letter-spacing: 0.1em;
}
.container .form .inputBox input:valid,
.container .form .inputBox input:focus{
    border: 1px solid #ded5bb;
}

.container .form .inputBox i{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 25px;
    padding: 2px 0;
    padding-right: 8px;
    color: #ded5bb;
    border-right: 1px solid #ded5bb;
}

.container .form .inputBox h3{
    background: #ded5bb;
    color: #77502d;
    padding: 10px 0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: -5px -5px 15px rgba(255, 255, 255,0.1), 5px 5px 15px rgba(0,0,0,0.35), inset -5px -5px 15px rgba(255, 255, 255,0.1), inset 5px 5px 15px rgba(0,0,0,0.35);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.container .form .inputBox a{
    text-decoration: none;
}

.container .form .inputBox h3:hover{
    background-color: #644427;
    color: #ded5bb; 
}

.container .form p{
    color: rgba(255,255,255,0.5);
    font-size: 0.75;
    font-weight: 300;

}

.container .form p a{
    font-weight:500;
    color: #fff;
}
